{% if page.title %}
  {% assign title = page.title | append: ' - Harekaze' %}
{% else %}
  {% assign title = site.title %}
{% endif %}
{% if page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description = site.description %}
{% endif %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ description }}">
  <meta name="author" content="MisakiAkeno">

  <link rel="canonical" href="{{ page.path | remove: 'index.html' | absolute_url }}">

  <meta property="og:type" content="{% if page.url == '/' %}website{% else %}article{% endif %}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ page.path | remove: 'index.html' | absolute_url }}">
  <meta property="og:image" content="{{ "/img/favicon.png" | absolute_url }}">
  <meta property="og:site_name" content="Harekaze">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@TeamHarekaze">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ "/img/favicon.png" | absolute_url }}">

  <link rel="icon" href="{{ "/img/favicon.png" | relative_url }}">
  <link rel="apple-touch-icon" href="{{ "img/favicon.png" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
  <title>{{ title }}</title>
</head>
